project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

.scaffolding/

.vs/
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.[Dd]s[St]ore
.history/

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.log
*.tlog

*.iobj
*.ipdb

*~$*
*.~*

.idea/
.idea_modules/
.idea/**

test.config
test.*.config

.idea/
.idea_modules/
.idea/**

*.Backup*
*.bak*

*.mdf
*.ldf

*.rdl.data
*.bim.layout
*.bim_*
*.rdb
*.rsds
*.rptproj.bak

.docfx

*.pfx
*.snk

.publish*
.publish_profiles/

azure*

node_modules/

.publish_output/
*.publish*
publish_output/
*.stackdump

project.lock.json
project.fragment.lock.json
artifacts/